/* ===== IMPORTANT  =====
/* CHANGE STEAM CHAT SKIN APPEARENCE.
/* ONLY ONE STATUS AND THEME AT THE TIME!
/*
/* ===== DARK MODE ===== */
@import url(https://laserflash.tk/steam-chat-skin/src/baseTheme.css);
@import url(https://laserflash.tk/steam-chat-skin/src/css/customisable/colourSet/blackMode.css);
@import url(https://laserflash.tk/steam-chat-skin/src/css/customisable/avatarStyle/squircleAvatar.css);
@import url(https://laserflash.tk/steam-chat-skin/src/css/customisable/avatarStatus/outlineStatus.css);
@import url(https://laserflash.tk/steam-chat-skin/src/css/customisable/miniProfile/miniProfileSolid.css);
@import url(https://laserflash.tk/steam-chat-skin/src/css/customisable/statusGlow/noGlow.css);
@import url(https://laserflash.tk/steam-chat-skin/src/css/customisable/shadowEffects/noShadow.css);
@import url(https://laserflash.tk/steam-chat-skin/offlineFriends/offlineFriends.css);
@import url(https://laserflash.tk/steam-chat-skin/src/css/customisable/colourSet/blackMode.css);
@import url(https://laserflash.tk/steam-chat-skin/offlineFriends/avatarStyle/squircleAvatar.css);
@import url(https://laserflash.tk/steam-chat-skin/offlineFriends/shadowEffects/noShadow.css);

:root {
    --header: 25, 25, 25;
    --friendlist: 25, 25, 25;
    --footer: 25, 25, 25;
    --scrollbar: 149, 149, 149;
}

:root {
    --avatar-radius: 13%;
    --avatar-border: 20;
}

* {
    font-family: <Segoe UI Variable Text> !important;
}
/*
/* ===== CREDITS  =====
/* SHIINA♪ and JoTech
/* LaserFlash
/* K.A.Z ( CONTRIBUTOR )
/* DISCORD: https://discord.gg/UZvkvkh
/* GITHUB: https://github.com/AikoMidori/
/* -------------------------------------------------------------------------------------------
/* © 2019 All Rights Reserved. Base Code Created by Shiina♪
/**/