/* MODIFICATIONS DOWN BELOW */

:root { /* COLORS */
    /* MAIN COLORS */
    --blacker: #121212; /* #121212 */
    --black: #151515; /* #151515 */
    --darkgrey: #191919; /* #191919 */
    --grey: #2e2e2f; /* #2e2e2f */
    --lightgrey: #3e3e3f; /* #3e3e3f */
    --white: #ffffff; /* #ffffff */
    --lightergrey: #959595; /* #959595 */
    --whatgrey: #bababa; /* #bababa */
    --purple: #6624e2; /* #6624e2 */
    --green: #33ff00; /* #33ff00 */
    --blue: #135EF2; /* #135EF2 */
    --pink: #ff00ff; /* #ff00ff */
    --red: #ff0000; /* ff0000 */
    --orange: #ff6600; /* ff6600 */
    --yellow: #ffff00; /* #ffff00 */
    --offlinegrey: #919191; /* #919191 */
    --ingamegreen: #05f028; /* #05f028 */
    --onlineblue: #3399FF; /* #3399FF */
    --hoverblue: #0a49c7; /* #0a49c7 */
    --snoozeblue: #266DB5; /* #266DB5 */
    --airblue: #2e3340; /* #2e3340 */
    --catblue: #60ABFF; /* #60ABFF */
    --steamygrey: #222222; /* #222222 */
    --invisiblegrey: rgba(62, 62, 62, 0.24);
    --invisibleblack: rgba(0, 0, 0, 0);
    /* FEATURE COLORS */
    --librarysidebg: var(--darkgrey); /* Library sidebar background color */
    --librarybg: var(--darkgrey); /* Library background color */
    --libraryhome: var(--whatgrey); /* Highlight library color */
    --downloadspagebg: var(--darkgrey); /* Downloads page background color */
    --downloadspagetop: var(--darkgrey); /* Downloads page top background color */
    --scrollbar: var(--lightergrey); /* Scrollbar color */
    --backdropblur: var(--invisiblegrey); /* Blur color */
    --progressbar: var(--blue); /* Progressbar color */
    --gamelist: var(--grey); /* Game list selected color */
    --menudrop: var(--darkgrey); /* Filter dropdown menu color */
    --titlehover: var(--darkgrey); /* Title hover background color */
    --titlenamehover: var(--white); /* Game list title hover name color */
    --gamehover: var(--white); /* Game hover color */
    --textcolor: var(--white); /* Text color */
    --pending: var(--white); /* Text color for pending updates/downloads */
    --collections: var(--white); /* Collections button color */
    --backtotop: var(--darkgrey); /* Sidebar back to top button color */
    --gamefilter: var(--darkgrey); /* Game filter button color */
    --searchfilter: var(--darkgrey); /* Search filter button color */
    --searchfiltermenu: var(--darkgrey); /* Search filter dropdown menu color */
    --search: var(--grey); /* Searchbar color */
    --searchhover: var(--lightgrey); /* Searchbar hover color */
    --miniprofilebg: var(--steamygrey); /* Miniprofile background color */
    --popupbg: var(--darkgrey); /* Pop-up background color */
    --buttonbg1: var(--darkgrey); /* Library sort-by button color */
    --buttonbg2: var(--black); /* Music library button color */
    --dropdownbg: var(--darkgrey); /* Library category dropdown menu color */
    --checkbox: var(--grey); /* Checkbox color */
    --musicbg: var(--black); /* Music library background color */
    --musiclist: var(--darkgrey); /* Music library list color */
    --offline: var(--offlinegrey); /* Offline avatar color */
    --ingame: var(--ingamegreen); /* In-game avatar color */
    --online: var(--onlineblue); /* Online avatar color */
    --snooze: var(--snoozeblue); /* Snooze avatar color */
}

:root { /* MODIFICATIONS */
    /*************************/
    /* ROUND OR HARD CORNERS */
    /*************************/
    /* Set to 0px for hard edges version */
    --Corner0: 12px !important; /* Default set to 12px (Updates when clicking on games) */
    --Corner1: 6px !important; /* Default set to 8px (Game Covers, scroll bars, play button on games)*/
    --Corner2: 12px !important; /* Default set to 12px (Have no idea yet)*/
    --Corner3: 12px !important; /* Default set to 12px (Rating box under games in library) */
    --Corner4: 12px !important; /* Default set to 12px */
    --Corner5: 12px !important; /* Default set to 12px */
    --Corner6: 12px !important; /* Default set to 12px */
    /*************************/
    /* SET LIBRARY TEXT PART */
    /*************************/
    --FontSize: 18px; /* The size of the font */
    --Font: "Segoe UI Variable Text", Arial, Helvetica, sans-serif; /* Any font on the system */
    --FontStyle: uppercase; /* Set to [ lowercase | uppercase | none ] */
    --LetterSpacing: 3px !important; /* Set 3px or more */
    --YourLibraryName: "Library Home" !important; /* Set your own library name */
    --BackgroundColor: transparent; /* Button background color */
    --LibraryButton: flex; /* Hide/Show Library Button, Set to [ none | flex ] */
    --LibrarySearch: flex; /* Hide/Show Library Button, Set to [ none | flex ] */
    /**********************/
    /* LIBRARY CATEGORIES */
    /**********************/
    --TitleColor: var(--textcolor); /* Category title color */
    --TitleFont: 500; /* Set to [ 1 > 1000 ] */
    /***********************/
    /* IN-GAME FRIEND ICON */
    /***********************/
    --FriendInGameIcon: none; /* Set to [ block | none ] */
    --FriendInGameIconPosition: -12px; /* Position $BETTER NOT EDIT$ */
    /**********************************/
    /* BLUR AMOUNT ( Lower > Better ) */
    /**********************************/
    /* Blur turned off by default, to turn on; set FlatColor to none, and switch everything on. */
    --FlatColor: var(--darkgrey); /* Set to [ none | color #191919 ] */
    --FuckBlur: blur(0px); /* Set to [ Off ( 0px ) | Low PC ( 10px ) | High PC ( > 20px ) ] */
    --BackgroundBlur: none; /* Set to [ none | flex ] */
    --ImageBlur: none; /* Set to [ none | visible ] */
    --ImageHeight: 320px; /* Set to [ 0px > 462px ] */
    /************************/
    /* GAME COVER & EFFECTS */
    /************************/
    --CoverHover: show; /* Set to [ show | hide ] */
    --AvatarEffect: flex; /* Hide/Show Miniprofile Avatar Image Effect, Set to [ none | flex ] */
    --TopShadow: flex; /* Hide/Show Header Shadow, Set to [ none | flex ] */
    --collectionsbtn: flex; /* Hide/Show Collections Button, Set to [ none | flex ] */
    /*************************/
    /* GAME PAGE PLAY HEADER */
    /*************************/
    /* Turning this off results for a smoother scrolling experience on low end pc's */
    --GamePlayHeader: none; /* Set to [ none | flex ] */
    /******************************/
    /* PLAY/INSTALL BUTTON COLORS */
    /******************************/
    /* Remove the Dropdown button next to play */
    --DrowdownPlay: none; /* Set to [ none | flex ] */

    --ButtonPlay: var(--blue); /* Play button color shade 1 */
    --ButtonPlay2: var(--blue); /* Play button color shade 2 */
    --ButtonPlayHover: var(--hoverblue); /* Play button hover color shade 1 */
    --ButtonPlayHover2: var(--hoverblue); /* Play button hover color shade 2 */

    --ButtonInstall: var(--blue); /* Install button color shade 1 */
    --ButtonInstall2: var(--blue); /* Install button color shade 2 */
    --ButtonInstallHover: var(--hoverblue); /* Install button hover color shade 1 */
    --ButtonInstallHover2: var(--hoverblue); /* Install button hover color shade 2 */
    /******************************/
    /* DOWNLOADS PAGE */
    /******************************/
    /* Remove the Dropdown button next to play */
    --hidedlimage: none !important; /* Set to [ none | flex ] */
    --hidedlgraph: flex !important; /* Set to [ none | flex ] */
}


/* ===== CREDITS  =====
/* Shiina♪#9670 and JoTech
/* DISCORD: https://discord.gg/UZvkvkh
/* GITHUB: https://github.com/AikoMidori/
/* -------------------------------------------------------------------------------------------
/* © 2021 All Rights Reserved. Base Code Created by Shiina♪
/**/
